.menuLink {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 30px;
}

.menu {
    float: left;
}

.conteudo {
    float: right;
}

